<section class="mt-20 flex content-center flex-col">
    <h1 class="text-5xl md:text-7xl font-serif leading-tight" data-aos="fade-down">Meet Boll-E</h1>
    <div class="relative w-full h-auto">
        <figure 
        class="absolute w-150 h-80 rotate-3 rounded-2xl shadow-2xl flex items-left flex-col z-10"
        style="top: 5rem; left: 8rem;" data-aos="fade-right">
        <h3 class="text-left text-3xl font-bold font-sans mt-5 px-8">What is Boll-E?</h3>
        <p class="text-left font-sans text-lg py-3 px-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non totam doloribus, est laborum ipsam perferendis vel molestiae dicta eaque, voluptate iste tenetur repudiandae veniam, hic quod. Porro praesentium amet exercitationem.
        Rem nam possimus iusto maxime quos distinc</p>
        </figure>
        <figure
            class="absolute w-150 h-80 -rotate-5 rounded-2xl shadow-2xl z-10"
            style="top: 30rem; left: 35rem;" data-aos="fade-left">
            <h3 class="text-left text-3xl font-bold font-sans mt-5 px-8">About Vision</h3>
            <p class="text-left font-sans text-lg py-3 px-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non totam doloribus, est laborum ipsam perferendis vel molestiae dicta eaque, voluptate iste tenetur repudiandae veniam, hic quod. Porro praesentium amet exercitationem.
            Rem nam possimus iusto maxime quos distinc</p>
        </figure>
        <figure
            class="absolute w-150 h-80 rotate-5  rounded-2xl shadow-2xl z-11"
            style="top: 55rem; left: 10rem;" data-aos="fade-up">
            <h3 class="text-left text-3xl font-bold font-sans mt-5 px-8">About Mision</h3>
            <p class="text-left font-sans text-lg py-3 px-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non totam doloribus, est laborum ipsam perferendis vel molestiae dicta eaque, voluptate iste tenetur repudiandae veniam, hic quod. Porro praesentium amet exercitationem.
            Rem nam possimus iusto maxime quos distinc</p>
        </figure>
    </div>
</section>