<section>
    <h1 class="text-5xl md:text-7xl font-serif leading-tight">Revolutionizing BPO with <br> AI-Powered Agents
    </h1>
    <p class="mt-4 text-xl font-sans">
      Transform your business operations with cutting-edge AI technology that delivers <br> unmatched efficiency, cost savings, and scalable automation solutions.
    </p>
    <div class="mt-8 flex justify-center space-x-4">
      <a href="#" class="border border-brand-text text-brand-text font-bold py-3 px-8 rounded-full hover:bg-[#252525] hover:text-white transition-colors">
        Discover Boll-E
      </a>
      <a href="#" class="border border-brand-text text-brand-text font-bold py-3 px-8 rounded-full hover:bg-[#252525] hover:text-white transition-colors">
        View Portfolio
      </a>
    </div>

    <!-- Tarjeta de comparación -->
    <div class="mt-12 flex justify-center">
      <div class="bg-white/70 backdrop-blur-lg rounded-3xl p-6 shadow-xl">
        <div class="flex space-x-4 text-center">
          <!-- Inne -->
          <div class=" px-8 py-6 w-32 flex flex-col items-center justify-between">
            <span class="text-4xl font-w-700">99.9<i class="text-xl">%</i></span>
            <span class="text-lg">Uptime</span>
          </div>
          <!-- Condom -->
          <div class="px-6 py-6 w-32 flex flex-col items-center justify-between">
              <span class="text-4xl font-w-700">24/7</span>
              <span class="text-lg">Support</span>
          </div>
          <!-- Pill -->
          <div class="px-6 py-6 w-32 flex flex-col items-center justify-between">
              <span class="text-4xl font-w-700"><i class="text-xl">+</i>50</span>
              <span class="text-lg">Countries</span>
          </div>
        </div>
      </div>
    </div>
  </section>